<<<<<<< HEAD
/* body {
    font-family: 'PT Root UI' ;
}
=======
>>>>>>> e44f2da8d107d272db9cfa2a51da8fd2e2e8c8d0
h1 {
    font-weight: 700;
}
h2 {
    font-weight: 500;
}
h3 {
    font-weight: 400;
}
h4 {
    font-weight: 300;
} */